.brend{
    background-color: rgb(51,49,59);
    height: 91.2px;
    width: 160.92px;
    padding: 24px;
    margin: 0px 16px 0px 16px;
    display: flex;
    justify-content: center;
}
.collapse{
    justify-content: end;
}
.nav-link{
    padding: 24px 20px !important;
}
.container{
    margin: 0px 165px !important;
}
.navbar-brand{
    color: rgb(255,255,255) !important;
    font-weight: 700;
    font-size: 24px;
    padding: 0 1em;
    line-height: 1.2;
    text-align: center;
}
.sp{
font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.active{
    color: rgb(215,155,94) !important;
}
.btn{
    background-color: rgb(249,170,48) !important;
    border: none !important;
    color: rgb(255,255,255) !important;
    border-radius: 2px !important;
    font-size: 15px;
    padding: 15px 18px !important;
    }
.an:hover{
    color: black;
}
.main{
    background-image: url(https://preview.colorlib.com/theme/vacation/images/bg_2.jpg.webp);
    height: 789px;
    background-size: cover;
}
.over{
    position: absolute;
    opacity: 0.4;
    background:linear-gradient(45deg, #2f88fc 0%, #ff5959 100%);
    width: 100%;
    height: 789px;
}
.mid{
    margin: 0px;
    padding: 0px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 240px;
}
.pulse{
    width: 80px;
    height: 80px;
    background-color: rgb(249,170,48);
    border-radius: 50%;
    line-height: 100px;
    animation: animate 2.5s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 12px;
}
@keyframes animate{
    0%{
        box-shadow:0 0 0 0 rgba(249,170,48, 7);
    }
    40%{
        box-shadow:0 0 0 30px rgba(215, 204, 189, 0);
    }
    75%{
        box-shadow:0 0 0 30px rgba(212, 201, 184, 0);
    }
    100%{
        box-shadow:0 0 0 0 rgba(216, 199, 173, 0);
    }
}
.dec{
    display: table;
    margin: auto;
    margin-top: 260px;
}
.x1{
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: relative;
    font-weight: 300;
}
.ember{
    display: table;
    margin: auto;
    width: 663px;
    margin-top: -15px;
}
.x2{
    font-size: 65px;
    color: rgb(255, 255, 255);
    position: relative;
    font-weight: 300;
}
.kur{
    display: table;
    margin: auto;
    font-size: 65px;
    color: rgb(255, 255, 255);
    position: relative;
    font-weight: 300;
    margin-top:-35px;
}
.book{
    background-color:rgb(51,49,59);
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 105px;
}
.yey{
    padding: 20px 65px;
    border: none;
    background-color: rgb(249,170,48);
    border-radius: 40px;
    margin: 25px;
    color: white;
}




.main2{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 165px;
}
.image34{
    background-image: url(https://preview.colorlib.com/theme/vacation/images/about.jpg.webp);
    width: 540px;
    height: 538px;
    background-size: cover;
    background-position: center;
}
.right{
    padding: 48px 15px 48px 48px;
}
.v1{
    font-size: 45px;
    margin-bottom: 24px;
}
.pl{
    font-size: 17px;
    color: grey;
}
.right-bott{
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}
.kv{
    font-size: 28px;
    font-weight: 700;
    color: rgb(249,170,48);
}
.soc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
}
.jk{
    font-size: 14px;
}
.ek{
    font-weight: 700;
    display: table;
    margin: auto;
    margin-top: 112px;
    margin-bottom: 24px;
}
.main4{
    margin: 165px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.small{
    display: flex;
    width: 255px;
    height: 320px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    padding: 20px;
}
.c1{
    background-image: url(https://preview.colorlib.com/theme/vacation/images/place-1.jpg.webp);
}
.c2{
    background-image: url(https://preview.colorlib.com/theme/vacation/images/place-2.jpg.webp);
}
.c3{
    background-image: url(https://preview.colorlib.com/theme/vacation/images/place-3.jpg.webp);
}
.c4{
    background-image: url(https://preview.colorlib.com/theme/vacation/images/place-4.jpg.webp);
}
.r2{
    color: white;
    font-size: 22px;
}
.b1{
    margin-top: 250px;
    position: absolute;
    margin-left: 161px;
    padding: 4px 5px 4px 15px;
    color: white;
    background-color: rgb(51,49,59);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 16px;
}
.b1:hover{
    background-color: rgb(249,170,48);
}

.cont{
    width: 100%;
    height: 676px;
    background-image: url(https://preview.colorlib.com/theme/vacation/images/footer-bg.jpg.webp);
    background-size: cover;
    background-position: center;
    padding: 112px 0px;
}
.con{
    display: flex;
    flex-wrap: wrap;
    gap: 130px;
    width: 100%;
    padding: 0 165px;
}
.vf{
    display: flex;
    flex-direction: column;
}
.v3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.l4{
    color: rgb(182, 185, 189);
}
.y4{
    width: 200px;
}
.b3{
    margin: 8px 0px;
}

.main8{
    display: flex;
    flex-wrap: wrap;
    margin: 165px;
    gap: 30px;
}
.img56{
    width: 350px;
    height: 270px;
    margin-bottom: 16px;
    background-position: center;
    background-size: cover;
    display: flex;
}
.uk2{
    font-size: 20px;
    font-weight: bold;
}
.bn50{
    font-size:18px ;
    color: grey;
}
.small3{
    width:350px;
}
.f56{
    margin-bottom: 16px;
}
.bn4{
    background-image: url(https://preview.colorlib.com/theme/vacation/images/image_2.jpg.webp);
}
.bn5{
    background-image: url(https://preview.colorlib.com/theme/vacation/images/image_3.jpg.webp);
}
.bn6 {
    background-image: url(https://preview.colorlib.com/theme/vacation/images/image_1.jpg.webp);
  }
.uk2:hover{
    color:rgb(249,170,48);
}
.kv567{
    background-color:rgb(249,170,48);
    width:130px;
    border-top-right-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
    padding: 5px 10px;
    margin-top: 200px;
}
.day{
    font-size: 40px;
    color: white;
}
.year{
    font-size: 13px;
    color: white;
}
.mon{
    font-size: 13px;
    color: white;
}
.right4{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-bottom: 20px;
}
.day2{
    margin-bottom: 20px;
}
  

.img10 {
    background-image: url(https://preview.colorlib.com/theme/vacation/images/person_2.jpg.webp);
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.item {
    width: 290px;
    height: 312px;
}

.tt1 {
    display: flex;
    flex-wrap: wrap;
}

.tt2 {
    margin-left: 50px;
}

.owl-carousel {
    background-image: url(https://preview.colorlib.com/theme/vacation/images/bg_3.jpg.webp);
    background-size: cover;
    width: 1033px;
    height: 701px;
}

.img11 {
    background-image: url(https://preview.colorlib.com/theme/vacation/images/person_1.jpg.webp);
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.img12 {
    background-image: url(https://preview.colorlib.com/theme/vacation/images/person_3.jpg.webp);
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}